.header {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  padding: 0 1%;
  background: #fff;
}

.logo-container {
  float: left;
  line-height: 60px;
}

.logo-container .logo {
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.header .content {
  float: right;
  height: 100%;
  margin: auto;
  overflow: auto;
  position: relative;
  z-index: 101;
  background: #fff;
}

.header .title {
  font-weight: 100;
  text-transform: uppercase;
  float: left;
  margin: 0;
  line-height: 50px;
  width: auto;
  margin-left: 10px;
}

.header .login-container {
  line-height: 60px;
  float: right;
  margin-right: 10px;
}

.header .login-container button {
  background: rgb(0, 159, 255);
  color: #fff;
  padding: 5px 5px;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
}

.header .login-container button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
}

.header .login-container button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 10px;
}

.dialog-container {
  display: none;
}

@media (max-width: 767px){
  .site-title span {
    display: none;
  }
}
