@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');

.container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: absolute;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.container-w-header {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  position: absolute;
  height: calc(100% - 60px);
  top: 60px;
  overflow: hidden;
}

input {
  background: 0 none;
  border-style: none;
  border-bottom: 2px solid #16a4fa;
  font-size: 16px;
  width: 100%;
}

input:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

button {
  background: rgb(0, 159, 255);
  color: #fff;
  padding: 5px 5px;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
}

.container {
  height: 100%;
}

.home {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  background: #f52d38;
  background: linear-gradient(90deg,#f52d38,#ef3859);
  background-size: cover !important;
}

.copy-container h1 {
  font-size: 120px;
  text-shadow: 3px 3px 3px rgba(0,0,0,.2);
  line-height: 105px;
  letter-spacing: -5px;
  font-family: Roboto,sans-serif;
  font-weight: 900;
}

.copy-container p {
  color: #000;
  font-weight: bold;
}
