.promoted-messages {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  overflow: hidden;
  width: 100%;
}

.promoted-chat-hide {
  display: none;
}

.promoted-messages ul {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: inline;
}

@media screen and (max-width: 991px) {
  .promoted-messages {
    position: absolute;
    width: 100%;
  }
}
