.copy-container,
.banner-container {
  position: relative;
}

.copy-container {
  padding: 4%;
}

.banner-container {
  min-width: 310px;
}

.banner-container > div  {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

form a {
  color: rgb(0, 159, 255);
  text-decoration: none;
}

.errors {
  color: #dc0d2b;
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  .banner-container {
    display: none;
  }
}
