.sign-up {
  background: #000;
}

.form {
  max-width: 550px;
  width: 100%;
  margin: auto;
}

.form-group {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

.form-group label {
  float: left;
  width: 100%;
  font-size: 16px;
}
.form-group input {
  width: 100%;
  font-size: 16px;
  border: 0 none;
  border-bottom: 2px solid #71737a;
  box-shadow: none;
}
.form-group input:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: #26a6f7;
}

.form-group > div {
  float: left;
}

.preview {
  height: 200px;
  width: 200px;
  float: left;
}

.preview img {
  width: 100%;
}

.errors {
  float: left;
}

.errors label {
  color: #dc0d2b;
  float: left;
  width: 100%;
}

.submit-btn {
  float: right;
  border-radius: 5px;
  border: 0;
  background: #26a6f7;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}
